<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.transaction.CourseDao" >
  <resultMap id="CourseResultMap" type="com.model.Course" >
  	<id column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="CNAME" property="cname" jdbcType="VARCHAR" />
    <result column="ID" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CID, CNAME, ID
  </sql>
  <select id="getCourseById" resultMap="CourseResultMap" parameterType="string" >
    select 
    <include refid="Base_Column_List" />
    from COURSE
    where CID = #{cid,jdbcType=VARCHAR}
  </select>
  <insert id="insertCourse" parameterType="com.model.Course" >
    insert into COURSE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        CID,
      </if>
      <if test="cname != null" >
        CNAME,
      </if>
      <if test="id != null" >
        ID
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <delete id="clearTable">
  	delete from COURSE
  </delete>
  <select id="createTable"> <!-- can not have two statements -->
  	create table if not exists COURSE(
  		CID VARCHAR(20) primary key,
  		CNAME VARCHAR(50) not null,
  		ID VARCHAR(10) not null
  	)ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_unicode_ci
  </select>
  <select id="dropTable">
  	drop table if exists COURSE
  </select>
</mapper>